language: python

python:
    - 3.7

install:
    - pip install coveralls
    - pip install mecab-python3

script:
    - coverage run --rcfile=.coveragerc setup.py test
    - python example/momotaro.py -osdi --forcemecab

after_success:
    - coveralls
